@media all and (max-width:768px) {
    .logo h2 {
        font-size: 20px;
    }

    .fa-brands {
        font-size: 20px;
    }


    .box {
        flex: 0 0 calc(100% / 2 - 40px);
        margin-bottom: 20px;
    }

    .input-box input,
    textarea {
        width: 100%;
    }

    .contact-area {
        flex-direction: column;
        justify-content: center;
    }

    iframe {
        width: 100%;
        margin-top: 40px;
    }

    iframe {
        height: auto;
    }
}

@media all and (max-width:450px) {
    .box {
        flex: 0 0 calc(100% - 40px);
    }
}

@media all and (max-width:450px) {
    .header-area {
        flex-direction: column;
    }

    .fa-brands {
        margin-bottom: 10px;
        text-align: center;
    }

    .header-area {
        padding: 0;
        text-align: left;
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu ul li:hover .drop-down>ul {
        display: none;
    }

    .menu ul li a:hover:after {
        width: 0;
        height: 0;
    }

    .service-heading p {
        padding: 0% 5% 0% 5%;
        word-break: break-all;
    }
}